body {

	margin: 2;
	padding: 0;
  	font-family: sans-serif;
}
.inputText{
	margin: 5px	;
}

.main_content{
	margin: 0px 30px ;
}

.gridSong{
	margin: 5px;
}

.headerInput{
	position: fixed;
	top:0;
}